html, 
body,
.root{
    --size:2;
    --thick:3px;
    --width:18px;
    --initColor:white;
    --mediorColor:rgb(200,255,20);
    --color:green;
    --maskWidth:1920px;
    --maskHeight:820px;
}

.leafmap {
    position: relative;
    height: var(--maskHeight);
    z-index: 2;
}

.menu {
    position: relative;
    z-index: 1;
}

.hex {
    animation: fadein 3s, colorfade 4s, opacityfade 2s;
    background-color: rgba(red, green, blue, 0);
    animation-iteration-count: 1;
    opacity: 1;
    fill: none;
    stroke: var(--color);
    stroke-width: var(--thick);
}
.grid {
    white-space: nowrap; /* Prevents graphics from wrapping to next line */
    background-color: rgba(red, green, blue, 0);
    position: relative;
    z-index: 2;
}

@keyframes fadein {
    from {width:0%} to {width:100%}
}

@keyframes opacityfade {
    from {opacity: 0} to {opacity: 1}
}

@keyframes colorfade {
    0% {stroke:var(--initColor)}
    80% {stroke:var(--initColor)}
    95% {stroke:var(--mediorColor)}
    100% {stroke:var(--color)}
}

.leaflet-top.leaflet-right .leaflet-control-layers:nth-child(3) .leaflet-control-layers-toggle {
    background-image: './images/layers.png'
}

.tree, .section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.tree {
  background: #fbfbfb;
  border: 3px solid black;
}
.tree li {
  padding: 1em 0px;
}

.section ul  { 
    position: relative;
    max-height: 0px;
    opacity: 0;
    transition: all 0.2s ease-in;
 }
.section input:checked ~ ul { max-height:250px; opacity: 1; }
.section input:not(:checked) ~ ul { max-height: 0px; opacity: 0;}

.section input[type=checkbox] { display: none; }

.section { 
  position: relative; 
  padding-left: 25px !important;
}

.section li{ 
  position: relative; 
  padding-left: 25px !important;
}

.section li:after{
  content: ">";
  position: absolute;
  top: 0; left: 0;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

.section label:after {
  content: ">";
  position: absolute;
  top: 0; left: 0;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  transition: all 0.3s;
}
.section input:checked ~ label:after { 
  transform: rotate(90deg);
}
.section ul li { color: black; height: 0px; }

